{% extends "base.html.twig" %}

{% block pageHeading %}
    List of users
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
            <th>#</th>
            <th>Full Name</th>
            <th>Username/Email</th>
            <th>Roles</th>
            <th>Shows</th>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td> {{ user.id }}</td>
                <td> {{ user.fullname}}</td>
                <td> {{ user.username }}</td>
                <td> {{ user.roles|join(', ') }}</td>
                <td> {% for show in user.shows %}{{ show.name }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}